**/__pycache__
**venv
photofeed/media/**
photofeed/app/migrations/0002_user.py
photofeed/app/migrations/0001_initial.py
photofeed/app/migrations/0002_remove_galleryimage_author.py
photofeed/app/migrations/0004_alter_galleryimage_author.py
photofeed/app/migrations/0003_galleryimage_author.py
photofeed/app/migrations
